:root {
    --backgroundColor: hsl(233, 47%, 7%);
    --cardbackgroundColor: hsl(244, 38%, 16%);
    --accentColor: hsl(277, 64%, 61%);
    --accentlighterColor: hsl(277, 34%, 69%);
    /* Text colors */
    --textColor: hsl(0, 0%, 100%);
    --paraColor: hsla(0, 0%, 100%, 0.75);
    --headingColor: hsla(0, 0%, 100%, 0.6);
}
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    font-family: 'Lexend Deca',
    sans-serif;
    /* Make font size responsive */
    font-size: 100%;
}
img {
    /* Make picture responsive */
    width: 100%;
}
main {
    background-color: var(--cardbackgroundColor);
    border-radius: 8px;
    overflow: hidden;
    margin: 64px 32px 20px;
}
.content {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
h1 {
    font-family: 'Inter',
    sans-serif;
}
h1 span {
    color: var(--accentColor);
}
p {
    color: var(--paraColor);
    margin: 20px 0;
}
dt {
    margin-bottom: 8px;
}
dd {
    text-transform: uppercase;
    font-size: 0.75em;
    color: var(--paraColor);
}
.stat {
    margin: 20px;
}
dt {
    font-family: 'Inter',
    sans-serif;
    font-size: 1.2em;
    font-weight: 700;
}
a {
    color: var(--accentColor);
}
a:hover {
    color: var(--accentlighterColor);
}
footer {
    margin: 16px 32px 64px;
    text-align: center;
}