:root {
    --backgroundColor: hsl(233, 47%, 7%);
    --cardbackgroundColor: hsl(244, 38%, 16%);
    --overlayColor: hsl(277, 100%, 48%, 0.4);
    --accentlighterColor: hsl(244, 34%, 69%);
    --accentColor: hsl(283, 95%, 34%);
    /* Text colors */
    --textColor: hsl(0, 0%, 100%);
    --paraColor: hsla(0, 0%, 100%, 0.75);
    --headingColor: hsla(0, 0%, 100%, 0.6);
}
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    font-family: 'Lexend Deca',
    sans-serif;
    /* Make font size responsive */
    font-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
img {
    /* Make picture responsive */
    width: 100%;
}
main {
    background-color: var(--cardbackgroundColor);
    border-radius: 8px;
    overflow: hidden;
    margin: 64px 32px 20px;
    max-width: 45ch;
}
picture {
    display: grid;
    grid-template: 1fr / 1fr;
}
picture * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
picture .overlay {
    background-color: var(--overlayColor);
}
.content {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
h1 {
    font-family: 'Inter',
    sans-serif;
}
h1 span {
    color: var(--accentColor);
}
p {
    color: var(--paraColor);
    margin: 20px 0;
}
dt {
    margin-bottom: 8px;
}
dd {
    text-transform: uppercase;
    font-size: 0.75em;
    color: var(--paraColor);
}
.stat {
    margin: 20px;
}
dt {
    font-family: 'Inter',
    sans-serif;
    font-size: 1.2em;
    font-weight: 700;
}
a {
    color: var(--accentColor);
}
a:hover {
    color: var(--accentlighterColor);
}
footer {
    margin: 16px 32px 64px;
    text-align: center;
}
/* Media queries */

@media screen and (min-width: 400px) {
    dl {
        display: flex;
    }
}
@media screen and (min-width: 1000px) {
    main {
        max-width: 100ch;
        display: flex;
        flex-direction: row-reverse;
    }
    .content {
        max-width: 45ch;
        text-align: left;
        padding: 44px 64px;
    }
    .stat:first-child {
        /* remove margin on 1st child only */
        margin-left: 0;
    }
}